<div class="login-container">
    <div class="buttons-container">
        <span class="material-icons-outlined bigger-logo">
            account_circle
        </span>
        <h1 class="login-title">INICIAR SESIÓN</h1>
        <div class="separator"></div>
    </div>
    <div class="wait-spinner-container" *ngIf="wait_spinner">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
    <div *ngIf="!wait_spinner" class="login-container">
        <form [formGroup]="loginForm">
            <div class="input-container" style="margin-bottom: 20px;">
                <h5 class="input-title">RUT</h5>
                <input class="input-style" id="rut" type="text" placeholder="Rut del usuario" [value]="loginForm.controls['rut'].value | rut" formControlName="rut">
                <mat-icon class="input-icon">person</mat-icon>
            </div>
            <div class="input-container">
                <h5 class="input-title">CONTRASEÑA</h5>
                <input class="input-style" id="password" type="password" placeholder="Contraseña" formControlName="password">
                <mat-icon class="input-icon">lock</mat-icon>
            </div>
        </form>
        <div class="buttons-container">
            <button mat-raised-button class="login-button" (click)="login()">
                ENTRAR
            </button>
            <button mat-raised-button class="login-button" (click)="closeDialogs()" routerLink="/auth/registrar">
                REGISTRARSE
            </button>
            <a routerLink="/auth/reset-password" (click)="closeDialogs()" class="password-link">Olvidó su contraseña?</a>
            <a routerLink="/staff/login" (click)="closeDialogs()" class="password-link">Portal de empleados</a>
        </div>
    </div>
</div>