<div class="login-container">
    <div class="buttons-container">
        <span class="material-icons-outlined bigger-logo">
            account_circle
        </span>
        <h1 class="login-title">INICIAR SESIÓN</h1>
        <div class="separator"></div>
    </div>
    <div>
        <div class="input-container" style="margin-bottom: 20px;">
            <h5 class="input-title">RUT</h5>
            <input class="input-style" id="rut" type="text" placeholder="Sin puntos ni guión">
            <mat-icon class="input-icon">person</mat-icon>
        </div>
        <div class="input-container">
            <h5 class="input-title">CONTRASEÑA</h5>
            <input class="input-style" id="rut" type="password">
            <mat-icon class="input-icon">lock</mat-icon>
        </div>
    </div>
    <div class="buttons-container">
        <button mat-raised-button class="login-button">
            ENTRAR
        </button>
        <button mat-raised-button class="login-button">
            REGISTRARSE
        </button>
        <a href="./" class="password-link">Olvidó su contraseña?</a>
    </div>
</div>