.centered-container {
    width: 50%;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.half-card-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 700px;
}

.page-title-style {
    text-align: center;
}

.bigger-logo {
    font-size: 120px;
}

.user-reg-logo {
    background: -moz-linear-gradient(90deg, #3D3D3D 0%, #FF7911 100%);
    background: -webkit-linear-gradient(90deg, #3D3D3D 0%, #FF7911 100%);
    background: linear-gradient(90deg, #3D3D3D 0%, #FF7911 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}