.column-separator {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.half-size-card {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 320px;
}

.title-style {
    color: #3d3d3d;
    letter-spacing: 0.2rem;
    font-weight: 700;
    text-align: center;
}

.report-gen-button {
    width: 300px;
    height: 40px;
    margin-bottom: 100px;
}

.report-gen-button:hover {
    background-color: #FF8000;
}