.wait-spinner-container {
    margin-left: 50%;
    transform: scale(1.5) translate(10%,25%);
    margin-bottom: 100px;
    color: #FF8000;
}

.select-container {
    height: 30px;
    width: 320px;
}

.select-container:disabled {
    background-color: #777777;
}

.login-button {
    border-radius: 20px;
    width: 150px;
    height: 36px;
    letter-spacing: 0.1rem;
    font-family: Lato;
    font-weight: 700;
    /* background-color: #FF7911; */
    background: linear-gradient(90deg, #3D3D3D 0%, #FF7911 100%);
    color: white;
}

.longer-button {
    width: 320px !important;
}

.bigger-logo {
    font-size: 120px;
}

.user-reg-logo {
    background: -moz-linear-gradient(90deg, #3D3D3D 0%, #FF7911 100%);
    background: -webkit-linear-gradient(90deg, #3D3D3D 0%, #FF7911 100%);
    background: linear-gradient(90deg, #3D3D3D 0%, #FF7911 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.phone-input {
    background-color: #3d3d3d;
    height: 30px;
    width: 320px;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 5px 10px 5px 45px;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    font-family: Lato;
}

.phone-input:disabled {
    background-color: #777777;
}

.input-line {
    display: flex;
    align-items: center;
    flex-flow: row;
}

.prefix-space {
    position: relative;
    width: 0;
    height: 0;
    left: 9px;
    top: -9px;
    color: white;
    font-size: 16px;
    font-family: Lato;
}

.password-clue {
    max-width: 320px !important;
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
    margin-bottom: 4px;
    text-align: justify;
}