<div class="wait-spinner-container" *ngIf="wait_load">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div class="page-content-min" *ngIf="!wait_load">
    <div class="banner-grid">

    </div>
    <app-product-slider></app-product-slider>
    
    <div class="title-banner">
        <h1 class="highlights-title">PRODUCTOS DESTACADOS</h1>
    </div>

    <div class="catalogue-ctg-container">
        <div class="ctg-container" *ngFor="let ctg of categories">
            <div class="ctg-container-grid">
                <div class="ctg-card-grid-container">
                    <div class="ctg-card" style="background-image: url({{ctg.image_path}});">
                        <div class="ctg-title" [routerLink]="ctg.nav">
                            {{ ctg.name | uppercase }}
                        </div>
                    </div>
                </div>
                <div class="highlight-card-grid-container" *ngIf="ctg.id === 6">
                    <div class="highlight-card-flex">
                        <div class="highlight-card" *ngIf="ctg.highlights">
                            <div class="top-half-card">
                                <img [src]="ctg.highlights![0].url" class="product-img-pos">
                            </div>
                            <div class="bottom-half-card">
                                <div class="product-title-container">
                                    <h1 class="product-title-style" style="max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ ctg.highlights![0].name }}</h1>
                                </div>
                                <div class="price-button-container">
                                    <h5 class="price-tag">${{ ctg.highlights![0].value | number:'1.0-0':'es-CL' }}</h5>
                                    <button mat-flat-button class="add-list-button" [routerLink]="ctg.highlights![0].nav">
                                        IR A PRODUCTO                           
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="highlight-card" *ngIf="ctg.highlights">
                            <div class="top-half-card">
                                <img [src]="ctg.highlights![1].url" class="product-img-pos">
                            </div>
                            <div class="bottom-half-card">
                                <div class="product-title-container">
                                    <h1 class="product-title-style" style="max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ ctg.highlights![1].name }}</h1>
                                </div>
                                <div class="price-button-container">
                                    <h5 class="price-tag">${{ ctg.highlights![1].value | number:'1.0-0':'es-CL' }}</h5>
                                    <button mat-flat-button class="add-list-button" [routerLink]="ctg.highlights![1].nav">
                                        IR A PRODUCTO                           
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="highlight-card" *ngIf="ctg.highlights">
                            <div class="top-half-card">
                                <img [src]="ctg.highlights![2].url" class="product-img-pos">
                            </div>
                            <div class="bottom-half-card">
                                <div class="product-title-container">
                                    <h1 class="product-title-style" style="max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ ctg.highlights![2].name }}</h1>
                                </div>
                                <div class="price-button-container">
                                    <h5 class="price-tag">${{ ctg.highlights![2].value | number:'1.0-0':'es-CL' }}</h5>
                                    <button mat-flat-button class="add-list-button" [routerLink]="ctg.highlights![2].nav">
                                        IR A PRODUCTO                           
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="highlight-card" *ngIf="ctg.highlights">
                            <div class="top-half-card">
                                <img [src]="ctg.highlights![3].url" class="product-img-pos">
                            </div>
                            <div class="bottom-half-card">
                                <div class="product-title-container">
                                    <h1 class="product-title-style" style="max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ ctg.highlights![3].name }}</h1>
                                </div>
                                <div class="price-button-container">
                                    <h5 class="price-tag">${{ ctg.highlights![3].value | number:'1.0-0':'es-CL' }}</h5>
                                    <button mat-flat-button class="add-list-button" [routerLink]="ctg.highlights![3].nav">
                                        IR A PRODUCTO                           
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
