<div class="page-content-min">
    <div class="banner-grid">

    </div>
    <app-product-slider></app-product-slider>
    
    <div class="title-banner">
        <h1 class="highlights-title">PRODUCTOS DESTACADOS</h1>
    </div>

    <div class="catalogue-ctg-container">
        <div class="ctg-container" *ngFor="let ctg of categories">
            <div class="ctg-container-grid">
                <div class="ctg-card-grid-container">
                    <div class="ctg-card" style="background-image: url({{ctg.image_path}});">
                        <div class="ctg-title" [routerLink]="ctg.nav">
                            {{ ctg.name | uppercase }}
                        </div>
                    </div>
                </div>
                <div class="highlight-card-grid-container">
                    <div class="highlight-card-flex">
                        <div class="highlight-card">
        
                        </div>
                        <div class="highlight-card">
                
                        </div>
                        <div class="highlight-card">
                
                        </div>
                        <div class="highlight-card">
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
