.banner-grid {
    height: 100px;
    background-color: gray;
    outline: 1px solid black;
    width: 100%;
}

.catalogue-ctg-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.title-banner {
    width: 100%;
    text-align: center;
    height: 60px;
    background-color: #FF7911;
}

.highlights-title {
    font-family: Lato;
    font-size: 28px;
    line-height: 30px;
    padding: 14px 0px;
    letter-spacing: 0.12rem;
    color: white;
    font-weight: 700;
}

.ctg-container {
    margin: 40px;
    width: 90%;
    max-width: 1500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.ctg-card {
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 4px;
}

.highlight-card {
    min-width: 250px;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 4px;
}

.ctg-title {
    position: relative;
    top: 270px;
    left: 60px;
    width: 180px;
    height: 60px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.ctg-container-grid {
    width: 100%;
    display: grid;
    grid-template-columns: [first] 300px [second] 20px [third] auto [last];
    grid-template-rows: [first] 300px [second] 40px [third] auto [last];
}

.ctg-card-grid-container {
    grid-column-start: first;
    grid-column-end: second;
    grid-row-start: first;
    grid-row-end: last;
}

.highlight-card-grid-container {
    grid-column-start: third;
    grid-column-end: last;
    grid-row-start: first;
    grid-row-end: last;
}

.highlight-card-flex {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

/* media screen for highlights cards */
@media screen and (max-width: 1510px) {
    .highlight-card-grid-container {
        overflow-x: scroll;
        flex-grow: nowrap;
    }
    
    .highlight-card-flex {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 635px) {
    .ctg-card-grid-container {
        grid-column-start: first;
        grid-column-end: last;
        grid-row-start: first;
        grid-row-end: second;
        display: flex;
        justify-content: center;
    }
    
    .highlight-card-grid-container {
        grid-column-start: first;
        grid-column-end: last;
        grid-row-start: third;
        grid-row-end: last;
    }

    .ctg-container {
        margin: 10px;
    }

    .highlights-title {
        font-family: Lato;
        font-size: 24px;
        line-height: 28px;
    }

}