.wait-spinner-container {
    margin-left: 50%;
    transform: scale(1.5) translate(5%,25%);
    margin-bottom: 75px;
    color: #FF8000;
}

.grid-container {
    display: grid;
    grid-template-columns: [first] 270px [mid] auto [last];
    grid-template-rows: [first] 100px [mid] auto [last];
}

.filters-container {
    grid-row-start: mid;
    grid-row-end: last;
    grid-column-start: first;
    grid-column-end: mid;
    margin-right: 10px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.table-container {
    margin-left: 10px;
    grid-row-start: mid;
    grid-row-end: last;
    grid-column-start: mid;
    grid-column-end: last;
}

.subtitle-style {
    font-size: 24px;
}

.select-container {
    height: 30px;
    width: 220px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-actions-container {
    justify-content: flex-end;
    margin-bottom: 6px;
}

.action-button {
    letter-spacing: 0.1rem;
    height: 40px;
    color: white;
}

.file-input {
    height: 30px;
    width: 180px;
    margin: 0;
    border-radius: 0px 4px 4px 0px;
    background-color: #3d3d3d;
    border: none;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    font-family: Lato;
}

.input-png {
    background-color: #FF8000;
    color: white;
    height: 30px;
    border-radius: 4px 0px 0px 4px;
    width: 40px;
}

.input-row {
    display: flex; 
    flex-flow: row wrap;
}