<div class="general-container">
    <div class="page-content-card page-title-container">
        <h1 class="page-title-style">GESTOR DE PRODUCTOS</h1>
    </div>
    <div class="column-separator">
        <div class="page-content-card half-size-card column-separator">
            <h2 class="page-title-style">DEVOLUCIÓN PRODUCTO</h2>
            <button mat-raised-button class="report-gen-button" color="primary">
                Devolver Producto
            </button>
        </div>
        <div class="page-content-card half-size-card column-separator">
            <h2 class="page-title-style">REEMPLAZO PRODUCTO</h2>
            <button mat-raised-button class="report-gen-button" color="primary">
                Reemplazar Producto
            </button>
        </div>
    </div>
</div>