<div class="general-container">
    <div class="page-content-card page-title-container">
        <h1 class="page-title-style">GESTOR DE PROVEEDORES</h1>
    </div>
    <div class="page-content-card">
        <div class="page-actions-container">
            <div class="form-fields">
                <label class="title-label">Filtrar:</label>
                <input class="select-container" (keyup)="applyFilter(inputSupplierFilter.valid)" placeholder="Ejemplo: nombre proveedor" [pattern]="input_regex" #inputSupplierFilter="ngModel" [(ngModel)]="supFilterValue">
                <label class="form-separator-label"><span class="form-error-field" [ngStyle]="{'visibility': !inputSupplierFilter.valid ? 'visible' : 'hidden'}">Búsqueda ingresada contiene caracteres no aceptados.</span></label>
                <mat-button-toggle-group name="userType" aria-label="User Type" (change)="filterActiveSupplier()" class="button-toggle-container" [(ngModel)]="filterActive">
                    <mat-button-toggle value="-1" class="button-toggle-content">TODOS</mat-button-toggle>
                    <mat-button-toggle value="0" class="button-toggle-content">ACTIVOS</mat-button-toggle>
                    <mat-button-toggle value="1" class="button-toggle-content">INACTIVOS</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <button mat-raised-button class="add-button" color="primary" style="letter-spacing: 0.12rem; margin-bottom: 8px;" (click)="registerSupplierDialog()">
                <mat-icon>add</mat-icon> AGREGAR PROVEEDOR
            </button>
        </div>

        <div class="table-wait-spinner-container" *ngIf="loading_spinner">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <table mat-table #dataTable [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; margin-top: 20px;" matSort>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Proveedor</th>
                <td mat-cell *matCellDef="let element" style="padding-right: 5px;">
                    {{ element.name }}
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
                <td mat-cell *matCellDef="let element" style="padding-right: 5px;"> 
                    {{ element.email }}
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                <td mat-cell *matCellDef="let element" style="width: 240px;">
                    <p #tooltip="matTooltip"
                       class="table-bounds"
                       [matTooltip]="element.description"
                       matTooltipPosition="above"
                       matTooltipClass="tooltip-position"
                       style="max-width: 220px;">
                        {{ element.description }}
                    </p>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
                <td mat-cell *matCellDef="let element" style="width: 240px;">
                    <p #tooltip="matTooltip"
                       class="table-bounds"
                       [matTooltip]="element.address"
                       matTooltipPosition="above"
                       matTooltipClass="tooltip-position"
                       style="max-width: 220px;">
                        {{ element.address }}
                    </p>
                </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
                <td mat-cell *matCellDef="let element" style="padding-right: 5px;"> 
                    {{ element.phone }}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
                <td mat-cell *matCellDef="let element" style="padding-right: 5px;"> 
                    <mat-slide-toggle [checked]="!element.removed" (change)="toggleActiveWarning($event ,element.id)">
                    </mat-slide-toggle>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let row; let i = index" style="min-width: 120px; padding-right: 5px;">
                    <button mat-icon-button style="color: green" (click)="editSupplierDialog(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
        </table>
        <mat-paginator #myPaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons aria-label="Select page of users">
        </mat-paginator>
    </div>
</div>
