/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Lato, "Helvetica Neue", sans-serif; }

.ngx-slider .ngx-slider-pointer {
    width: 12px !important;
    height: 12px !important;
    top: -4px !important;
    background-color: #FF8000!important;
    border-radius: 6px !important;
}

.ngx-slider .ngx-slider-pointer:after {
    width: 4px !important;
    height: 4px !important;
    top: 4px !important;
    left: 4px !important;
    background: #3d3d3d !important;
}

.ngx-slider .ngx-slider-bar {
    background: #3d3d3d !important;
}

.ngx-slider .ngx-slider-selection {
    background: #FF8000 !important;
}

.table-wait-spinner-container {
    margin-left: 50%;
    transform: scale(1.5) translate(5%,25%);
    margin-bottom: 100px;
    color: #FF8000;
}

.general-container {
    padding: 20px;
}

.page-content-card {
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px;
}

.error-field {
    font-size: 12px;
    color: red;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #FF8000 !important;
}

.bg-login {
    background: no-repeat center center fixed; 
    background-size: cover;
    display: block;
    left: -35px;
    top:-35px;
    bottom:-35px;
    position: fixed;
    right: -35px;
    filter: blur(0px);
    z-index: -999;
}

.page-content-min {
    min-height: calc(100vh - 500px);
    overflow: hidden;
}

.swiper-container {
    min-width: 300px;
    max-width: 1200px !important;
    width: 100% !important;
    padding-top: 10px;
    padding-bottom: 50px;
    z-index: 0;
}

.flex-center {
    justify-content: center; 
    display: flex !important;
}

.swiper-wrapper {
    width: 0;
}

.swiper-wrapper .spacer-bot {
    margin-bottom: 100px;
}

.swiper-pagination-bullet-active {
    background-color: #ff800038 !important;
}

.swiper-pagination-bullet {
    background-color: white;
    border: 3px solid #FF8000;
    display: inline-block;
    width: 18px;
    height: 18px;
    bottom: 0px;
}

.tooltip-position {
    position: relative !important;
    top: 10px !important;
    font-size: 12px;
}

.tooltip-position-warn {
    position: relative !important;
    top: 10px !important;
    font-size: 12px;
    background: rgba(187, 0, 0, 0.692);
}

.mat-fab {
    box-shadow: none !important;
}

.login-dialog {
    width: 400px;
}

.mat-fab .mat-button-wrapper {
    padding: 0 !important;
}

.mat-button-toggle {
    outline: 1px solid black;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-left: none;
}

.mat-button-toggle-label-content {
    line-height: 36px !important;
    letter-spacing: 0.1rem;
}

.delete-warning-dialog .mat-dialog-container {
    width: 400px;
    padding: 0 !important;
}

.mat-drawer-inner-container {
    overflow: hidden !important;
}

.register-product-dialog .mat-dialog-container {
    width: 500px;
    padding: 0 !important;
}

.dialog-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.success-sb {
    background-color: rgb(255, 255, 255);
    color: black;
    position: relative;
    bottom: 25px;
}

.error-sb {
    background-color: rgb(255, 255, 255);
    color: black;
    position: relative;
    bottom: 25px;
}

.success-sb .mat-simple-snackbar-action {
    background-color: #FF8000;
    color: white;
    border-radius: 2px;
}

.error-sb .mat-simple-snackbar-action {
    background-color: #be3838;
    color: white;
    border-radius: 2px;
}

.spacer {
    display: flex;
    flex-grow: 1;
}

.router-height {
    min-height: calc(100% - 500px)
}

.router-height-staff {
    min-height: calc(100% - 150px)
}


/* GLOBAL CSS */

.product-title-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.dialog-title-banner {
    background-color: #3d3d3d;
    width: 100%;
    height: 60px;
}

.page-title-container {
    grid-row-start: first;
    grid-row-end: mid;
    grid-column-start: first;
    grid-column-end: last;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-title-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title-style {
    color: #3d3d3d;
    letter-spacing: 0.2rem;
    font-weight: 700;
    margin: 10px;
}

.page-actions-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
}

.form-fields {
    display: flex;
    flex-flow: column;
}

.title-label {
    font-weight: 600;
}

.select-container {
    background-color: #3d3d3d;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    font-family: Lato;
}

.button-toggle-container {
    margin-top: 10px;
    height: 36px;
    border: 1px solid black;
}

.button-toggle-content {
    font-size: 12px;
    color: black;
}

.orange-action-button {
    width: 200px;
    color: white;
    background-color: #FF8000;
    letter-spacing: 0.12rem;
    font-family: Lato;
    font-weight: 700;
}

.table-bounds {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.option-style {
    color: white;
    font-size: 16px;
    font-family: Lato;
}

.column-container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.dialog-general-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.form-error-field {
    font-size: 10px;
    line-height: 10px;
    margin: 0;
    color: red;
    top: -5px;
    position: relative;
}

.form-separator-label {
    height: 8px;
}

.dialog-close-button {
    width: 200px;
    color: white;
    background-color: #3d3d3d;
    letter-spacing: 0.12rem;
    font-family: Lato;
    font-weight: 700;
}

.buttons-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.product-price {
    font-weight: 900;
    font-family: Lato;
    letter-spacing: 0.2rem;
    color: #FF8000;
    font-size: 34px;
}

.product-amount {
    font-family: Lato;
    letter-spacing: 0.08rem;
    font-size: 12px;
}

.product-title-style {
    font-family: Lato;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.12em;
    margin: 0;
    text-transform: uppercase;
}

.ctg-product-title {
    width: 90%;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.12rem;
    font-weight: 800;
    font-family: Lato;
    text-decoration: none;
    color: black;
}

.ctg-product-title:hover {
    color: #FF8000;
}

.ctg-product-title:visited {
    color: inherit;
}

.ctg-product-title:visited:hover {
    color: #FF8000;
}

.link-line {
    font-size: 12px;
    letter-spacing: 0.12rem;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: black;
}

.active-link {
    font-size: 12px;
    letter-spacing: 0.12rem;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: #FF8000;
}

.link-line:hover {
    color: #FF8000;
}

.link-line:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF8000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link-line:visited {
    color: inherit;
}

.link-line:visited:hover {
    color: #FF8000;
}

.link-line:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.larger-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.products-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    padding: 50px 100px;
    max-width: 1610px;
}

.ctg-product-card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 350px;
    padding: 0px;
    border-radius: 5px;
}

.top-half {
    width: 100%;
    height: 50%;
}

.bottom-half {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    width: 70%;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.08rem;
    font-weight: 500;
    font-family: Lato;
    color: grey;
    line-height: 13px;
}

.price-content {
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    color: #FF8000;
    letter-spacing: 0.12rem;
}

.add-item-button {
    background-color: #FF8000;
    color: white;
    border-radius: 50px !important;
    font-family: Lato;
    letter-spacing: 0.12rem;
}

/* MEDIA DECLARATIONS - ALWAYS LAST!! */

/* smaller than 1087px screen */
@media screen and (max-width: 1086px) {

    .router-height {
        min-height: calc(100% - 579px)
    }

}

/* smaller than 913px screen */
@media screen and (max-width: 912px) {

    .router-height {
        min-height: calc(100% - 528px)
    }

}

/* smaller than 770px screen */
@media screen and (max-width: 769px) {

    .router-height-staff {
        min-height: calc(100% - 120px)
    }

}

/* smaller than 730px screen */
@media screen and (max-width: 729px) {

    .router-height {
        min-height: calc(100% - 356px)
    }

}

/* smaller than 450px screen */
@media screen and (max-width: 449px) {

    .router-height {
        min-height: calc(100% - 529px)
    }

}


/* 'mid' screen */
@media screen and (min-width: 960px) and (max-width: 1279px) {


}

/* 'small' screen */
@media screen and (min-width: 600px) and (max-width: 959px) {


}

/* 'x-small' screen */
@media screen and (max-width: 599px) {

}
