<mat-toolbar class="nav-bar mat-elevation-z3 grid-header">
    <div class="header-color">
        <img src="assets/monkeys-dev-logo.png" style="height: 120px; margin-left: 5%;" routerLink="/inicio/catalogo" class="av-pointer">
        <input class="search-input" type="text" placeholder="Buscar">
        <div class="client-buttons" style="margin-right: 5%">
            <button mat-fab class="client-button-style">
                <span class="material-icons-outlined">
                    shopping_bag
                </span>
            </button>
            <button mat-fab class="client-button-style">
                <span class="material-icons-outlined">
                    account_circle
                </span>
            </button>
        </div>
    </div>
    
    
    <div class="nav-buttons-grid">
        <button mat-button class="nav-button"
                *ngFor="let button of navig"
                name="button.name"
                [routerLink]="button.nav">
            <div class="button-flex">
                <span>{{ button.name | uppercase }}</span>
                <mat-icon style="color: #000000;">expand_more</mat-icon>
            </div>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container class="side-nav-bar">
    <mat-sidenav #sidenav mode="push" position="end">      
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
