<mat-toolbar class="nav-bar mat-elevation-z3 grid-header">
    <div class="header-color">
        <img src="assets/monkeys-dev-logo.png" routerLink="/inicio/catalogo" class="av-pointer">
        <input class="search-input" type="text" placeholder="Buscar">
        <div class="client-buttons" style="margin-right: 5%">
            <button mat-fab class="client-button-style">
                <span class="material-icons-outlined">
                    shopping_bag
                </span>
            </button>
            <div *ngIf="checkLog()" class="client-info-card">
                <div class="client-info-content">
                    <span class="user-name-text">{{ nameUser() | uppercase }}</span>
                    <span class="portal-name" *ngIf="inStart()">Vista Cliente</span>
                    <span class="portal-name" *ngIf="inWH()">Vista Bodega</span>
                    <span class="portal-name" *ngIf="inAdmin()">Vista Administración</span>
                    <span class="portal-name" *ngIf="inSales()">Vista Venta</span>
                </div>
                <button mat-icon-button style="transform: scale(1.5); margin-left: 10px" [matMenuTriggerFor]="beforeMenu">
                    <span class="material-icons-outlined">
                        face
                    </span>
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <button mat-menu-item
                            *ngIf="inStart()"
                            routerLink="/inicio/perfil"
                            style="font-family: Lato; letter-spacing: 0.12em; font-size: 12px !important;">
                        <mat-icon style="color: black;">person</mat-icon>IR A PERFIL 
                    </button>
                    <button mat-menu-item
                            *ngIf="inStart()"
                            routerLink="/inicio/perfil"
                            style="font-family: Lato; letter-spacing: 0.12em; font-size: 12px !important;">
                        <mat-icon style="color: black;">list_alt</mat-icon>HISTORIAL 
                    </button>
                    <button mat-menu-item
                            *ngIf="inWH() || inAdmin() || inSales()"
                            routerLink="/inicio"
                            style="font-family: Lato; letter-spacing: 0.12em; font-size: 12px !important;">
                        <mat-icon style="color: black;">home</mat-icon>VOLVER A INICIO
                    </button>
                    <button mat-menu-item 
                            style="font-family: Lato; letter-spacing: 0.12em; color: #F44336; font-size: 12px !important;"
                            (click)="logout()">
                        <mat-icon style="color: #F44336;">logout</mat-icon>CERRAR SESIÓN
                    </button>
                </mat-menu>
                
            </div>
            <button mat-fab class="client-button-style" (click)="openLogin()" *ngIf="!checkLog()">
                <span class="material-icons-outlined">
                    account_circle
                </span>
            </button>
            <button mat-fab
                    class="side-bar-menu-button"
                    (click)="sidenav.toggle()">
                <mat-icon class="menu-ham-button">menu</mat-icon>
            </button>
        </div>
        
    </div>
    
    
    <div class="nav-buttons-grid">
        <button mat-button class="nav-button"
                *ngFor="let button of navig"
                name="button.name"
                [routerLink]="button.nav"
                [matMenuTriggerFor]="belowMenu"
                #menuTrigger="matMenuTrigger"
                (mouseenter)="menuTrigger.openMenu()">
            <div class="button-flex">
                <span>{{ button.name | uppercase }}</span>
                <mat-icon style="color: #000000;">expand_more</mat-icon>
            </div>
            <mat-menu #belowMenu="matMenu" yPosition="below" [overlapTrigger]="false">
                <span (mouseleave)="menuTrigger.closeMenu()">
                    <a mat-menu-item class="menu-nav-button" [routerLink]="button.nav" [state]="{ category_name: button.name }"></a>
                    <a mat-menu-item *ngFor="let subcat of button.subcat" [routerLink]="subcat.nav" class="mat-menu-link" [state]="{ subcat_name: subcat.name }">
                        {{ subcat.name | uppercase }}
                    </a>
                </span>
            </mat-menu>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container class="side-nav-bar">
    <mat-sidenav #sidenav mode="push" position="end">
        <mat-nav-list>
            <a mat-list-item
               *ngFor="let button of navig"
               [routerLink]="button.nav"
               (click)="sidenav.toggle()"
               class="side-bar-button"
               [ngClass]="getPath() == button.nav ? 'current-page' : ''">
               <span> {{ button.name | uppercase }} </span>
            </a>
            <button mat-list-item class="side-bar-button" (click)="sidenav.toggle()" routerLink="/auth/login" *ngIf="!checkLog()">
                <mat-icon class="side-bar-icon-button">
                    account_circle
                </mat-icon>
                INICIAR SESIÓN                
            </button>
            <button mat-list-item class="side-bar-button" (click)="sidenav.toggle()">
                <mat-icon class="side-bar-icon-button">
                    shopping_bag
                </mat-icon>
                CARRO DE COMPRA                
            </button>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
